<div class="container">
  
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.sex}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.motto}}</td>
          <td>
            <button type="button" class="btn btn-info btn-sm"
            >Chat with {{user.name}}</button>
          </td>
          <td>
            <button type="button" class="btn btn-info btn-sm" 
            (click)="showContact($event)" id="showContact_{{user.id}}">Show contact</button>
          </td>
          <td>
            <button type="button" class="btn btn-info btn-sm"
            (click)="showProfile($event)" id="showContact_{{user.id}}">Show profile</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
