<table class="table">
  <tbody>
    <tr>
      <td><h3><span class="label label-default">Id</span></h3></td>
      <td><h3>{{user.id}}</h3></td>
    </tr>
    <tr>
      <td><h3><span class="label label-default">Name</span></h3></td>
      <td><h3>{{user.name}}</h3></td>
    </tr>
    <tr>
      <td><h3><span class="label label-default">E-mail</span></h3></td>
      <td><h3>{{user.emailAddress}}</h3></td>
    </tr>
    <tr>
      <td><h3><span class="label label-default">Motto</span></h3></td>
      <td><h3>{{user.motto}}</h3></td>
    </tr>
    <tr>
      <td><h3><span class="label label-default">Web-page</span></h3></td>
      <td><h3><a href={{user.webPageUrl}} target="_blank">Go to {{user.name}}s web page</a></h3></td>
    </tr>
  </tbody>
</table>
